
html {
    background-color: antiquewhite;
}
header {
    background-color: rgb(1, 110, 218);
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 250px;

}
h1 {
    font-size: xxx-large;
    padding-right: 50px;
    text-align: center;
    padding-bottom:5%;
    padding-top: 50px;
}

nav a {
    border: 2px solid;
    border-image: linear-gradient(35deg, greenyellow 50%,rgb(217, 0, 192) 50%) 2;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    color: white;
    background-color: black;
    font-weight: bold;
}

nav a:hover {
    background-color: rgb(217, 0, 192);
    color: white;
}
nav {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
div.admin{
    padding:20px;
    flex-basis: 25%;
    text-align: center;
    border: black 1px solid;
    background-color: antiquewhite;
}
div.admin button:hover{
    background-color: aqua;
}
div.admin p {
    margin: 10px;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    margin-top: 40px;
    flex-direction: column;
    
}
section img {
    border: 8px solid black;
}  
div#left{
    background-color: rgb(194, 188, 188);
    margin-top: 10px;
    padding: 100px;
    margin-left: 50px;
    border-radius: 50px;
    width: 30%;
    float: left;
    
}
section button {
    width: 100px;
    border-radius: 25px;

}
div#right{
    margin-top: 10px;
    padding: 100px;
    margin-left: 50px;
    border-radius: 50px;
    width: 35%;
    float: right;
}
.row {
    display: flex;
    flex-wrap: wrap;
  }

  
.sub{
    flex: 50%;
  }
  
.top {
    flex: 75%;
  }
  
.sub, .top {
    padding-bottom: 16px;
  }
  
.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
input {
    width: 70%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
label {
    margin-bottom: 10px;
    display: block;
}
#bestellen{
    float: right;
    margin-right: 10%;
    border-radius: 250px;
    font-size: x-large;
    margin-top: 80px;
}
#bestellen:hover {
    background-color: rgb(1, 110, 218);
}
  